<div class="description-wrapper">
  <img [src]="media.image" alt="alt" />
  <h1>{{ media.name }}</h1>
  <div class="description-content">
    <div *ngIf="youtubeKey" class="description-video-player">
      <iframe
        [src]="getYoutubeUrl()"
        width="441"
        height="290"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>
    </div>
    <div class="description-text">
      <p class="rating">SCORE: <span>{{media.rating}}</span></p>
      <p>{{ media.description }}</p>
    </div>
  </div>
</div>
