<div class="description-wrapper">
  <img [src]="media.image" alt="alt" />
  <h1>{{ media.name }}</h1>
  <div class="description-content">
    <div *ngIf="youtubeKey" class="description-video-player">
      <iframe
        [src]="getYoutubeUrl()"
        [width]="getWidth()"
        height="320"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      ></iframe>
    </div>
    <div class="description-text">
      <p class="rating">
        SCORE:
        <bar-rating
          [(rate)]="media.rating"
          [max]="10"
          [readOnly]="true"
        ></bar-rating>
      </p>

      <p>{{ media.description }}</p>
    </div>
  </div>
</div>
