.card-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover {
    transform: scale(1.02);
    background: #f6b93b;
    color: white;
  }

  p {
    font-size: 16px;
  }
  img {
    width: 100%;
  }
}
