.search-wrapper {
  margin: 1rem 0;

  input[type="text"] {
    box-sizing: border-box;
    height: 2.4rem;
    font-family: "Staatliches", cursive;
    font-size: 1rem;
    border: 1px solid black;
    padding: 2px 12px;
    width: 100%;
    border-radius: 15px;

    &:focus{
      border: 2px solid black;
      outline: none;
    }
  
  }
}
